// app global css in SCSS form
@font-face {
    font-family: 'Poppins-SemiBold';
     src: url(../assets/fonts/Poppins-SemiBold.ttf)
}

@font-face {
    font-family: 'Poppins-Regular';
     src: url(../assets/fonts/Poppins-Regular.ttf)
}

@font-face {
    font-family: 'Poppins-Medium';
     src: url(../assets/fonts/Poppins-Medium.ttf)
}

@font-face {
  font-family: 'Gilroy-Bold';
   src: url(../assets/fonts/Gilroy-Bold.otf)
}

.text-redsito{
    color: #B31E1A;
}

.bg-redsito{
    background: #B31E1A;
}

.text-redp{
    color: #FAF3EB;
}

.bg-redp{
    background: #FAF3EB;
}

.text-bluesito{
    color: #020B68;
}

.bg-bluesito{
    color: #020B68;
}

.text-hueso{
    color: #311d1d;
}

.bg-hueso{
    color: #311d1d;
}